node_modules/
dist/
build/
coverage/
bun.lock
package-lock.json
*.md
*.html
*.scraped.*
.turbo/
.vscode/
.cursor/
.cursorrules
.cursorignore
keys-manager.json
.vscode/
.astro/
.netlify/
routeTree.gen.ts